.home {
  padding: 20px 0 60px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-item {
  position: relative;
}

.category-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
  margin-bottom: 20px;
}
