.header {
  padding: 15px 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__icon-box {
    display: flex;
    align-items: center;
  }
  &__saved {
    &-icon {
      margin-right: 45px;
    }

    &-link {
      position: relative;
    }
  }

  &__counts {
    position: absolute;
    left: 15px;
    top: -8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    height: 17px;
    width: 17px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background: #ffa542;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 20px 0 13px;
    &__saved-icon {
      margin-right: 25px;
    }
  }
}
